<!DOCTYPE html>
<html>
<meta charset="utf-8">
<!-- <meta http-equiv="refresh" content="2" > -->
 <head>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.dynatable.css"/>
    <!-- JAVASCRIPT -->
    <script type='text/javascript' src="/javascripts/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type='text/javascript' src="/javascripts/jquery.dynatable.js"></script>
    <script type="text/javascript" src='/javascripts/moment.min.js'></script>
    <script type="text/javascript" src='/javascripts/global.js'></script>
    <title><%- title %></title>
</head>

<body class="container">

<div align="center">
    <img src="/images/excess.png" style="margin-top: 12px;"/>
</div>

<table id="executions" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="display: none">id</th>
      <th data-dynatable-column="Name" class="width-fixed-long">PBS Job ID</th>
      <th data-dynatable-column="Description" class="width-variable">Description</th>
      <th data-dynatable-column="Username" class="width-fixed">User</th>
      <!--<th data-dynatable-column="Start_date">Start Date</th>-->
      <th data-dynatable-column="Start_date" data-dynatable-sorts="parsedDate" class="width-fixed-long">Start Date</th>
      <th data-dynatable-column="Metrics" class="width-fixed-long">Explore</th>
    </tr>
  </thead>
  <tbody>
 </tbody>
</table>

</body>
</html>
