h2#getting-started-with-the-monitoring-framework-ii Profiling Applications on the EXCESS Cluster
h3#excess-cluster-setup EXCESS Cluster Setup
p
  | The monitoring framework is linked to the PBS resource manager, meaning that each time you start a job, the monitoring framework profiles the respective application.
h4#enabledisable-monitoring Enable/Disable Monitoring
p In order to activate monitoring, make sure to create the following files:
pre.
  #!/bin/bash
  echo "Activating monitoring framework"
  mkdir -p $HOME/.mf/service/node02
  mkdir -p $HOME/.mf/service/node01
  touch $HOME/.mf/service/node02/start_monitoring
  touch $HOME/.mf/service/node01/start_monitoring
| or by executing the following command:
pre.
  /opt/mf/activate_mf.sh
p You can also deactivate monitoring by following the steps below:
pre.
  #!/bin/bash
  echo "Deactivating monitoring framework"
  rm -f $HOME/.mf/service/node02/start_monitoring
  rm -f $HOME/.mf/service/node01/start_monitoring
| or by executing the following command:
pre.
  /opt/mf/deactivate_mf.sh
p
  | For the PBS job file, please ensure that a variable DBKEY is set prior to starting a job:
pre.
  echo "get unique key for the Excess monitoring framework"
  module load power/mf_shared/20
  DBKEY_STRING=$( get_unique_dbkey -d ${HOME}/.mf/dbkey/ -f ${PBS_JOBID} )
  DBKEY=$( echo ${DBKEY_STRING}| awk -v N=$N '{print $2}' )
h4#enabledisable-power-measurement Enable/Disable Power Measurement
p
  | If you also want to integrate external power measurements, please create the following files in your HOME directory:
pre.
  #!/bin/bash
  echo "Activating power measurement on node02"
  mkdir -p $HOME/.pwm/node02
  touch $HOME/.pwm/node02/copy_raw_data
  touch $HOME/.pwm/node02/send_data_to_mf
| or by executing the following command:
pre.
  /opt/mf/activate_pwm.sh
p Again, deactivating the power measurement is done via:
pre.
  #!/bin/bash
  echo "Deactivating power measurement on node02"
  rm -f $HOME/.pwm/node02/copy_raw_data
  rm -f $HOME/.pwm/node02/send_data_to_mf
| or by executing the following command:
pre.
  /opt/mf/deactivate_pwm.sh
h4#user-defined-configuration User-defined Configuration
p
  | In order to not override the default configuration file, you can place specific configuration into your HOME directory at
pre.
  $HOME/.mf
p
  | The filename should correspond to the current PBS Job ID, e.g. 60671.ini. If such a file exists, it will be used instead of the default configuration. You can retrieve the PBS Job ID as a return value of calling
  strong qsub
  | .
h3#web-interface Web Interface
pre.
  http://mf.excess-project.eu
